<ion-view view-title="LOGIN">
 
  <ion-header-bar>
    <h1 class="title ">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <!--<ion-nav-bar class="bar-energized">
             
        <ion-nav-buttons side="left">
          <button class="button icon ion-navicon" ></button>
          </ion-nav-buttons>
          
          <ion-nav-buttons side="right">          
         <button class="button button-clear" ng-click="closeLogin()">Close</button>
          </ion-nav-buttons>
    
 </ion-nav-bar>
    -->
 
  <ion-content class="loginbg " ><!--class="loginbg"-->
  
   <div >
    <form ng-submit="doLogin()">
    
 
       <div class="list" style="top:19vh;    width: 95%; padding-left: 6%;">
  <label class="item item-input" style="margin-bottom:10px; border-radius: 8px;">
    <input type="text"  ng-model="loginData.username" placeholder="Phone ">
  </label>
  <label class="item item-input" style="border-radius: 8px;">
    <input type="password"  ng-model="loginData.password" placeholder="Password">
  </label>
</div>
        
<div style="padding-left: 10%;"> 
<button class="button button-outline button-positive" style="width: 90%;top: 20vh;padding: 9px;font-weight: 900;border-radius: 9px;">
 Sign in
</button>
</div>
 <div style="padding-left: 10%;"> 
 <button class="button button-outline button-energized" style="width: 90%;top: 23vh;padding: 9px;font-weight: 900;border-radius: 9px;">
 Sign up
</button>
      </div>
       
    </form>
 
    </div>
  </ion-content>
</ion-view>
