<ion-view view-title="Sign up">

    <ion-header-bar>
        <h1 class="title ">Sign Up</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>

    <!--<ion-nav-bar class="bar-energized">
             
        <ion-nav-buttons side="left">
          <button class="button icon ion-navicon" ></button>
          </ion-nav-buttons>
          
          <ion-nav-buttons side="right">          
         <button class="button button-clear" ng-click="closeLogin()">Close</button>
          </ion-nav-buttons>
    
 </ion-nav-bar>
    -->


    <ion-content class="otpbg ">
        <!--class="loginbg"-->
        <div style="text-align:center;"> <img src="img/logo.png" alt="">
        </div>
        <div class="thankyou">
            <center>THANK YOU </center>
        </div>

        <div class="list row responsive-sm">
            <label class="item1 item-input entercode col ">
                <input type="number" placeholder="ENTER CODE" ng-model="otpdata.otp" class="otpinput">
            </label>

        </div>

        </div>

        <div class="thankyou2">
            <center ng-if="errormessage == ''">We have sent you a confirmation code. </center>
            <center ng-if="errormessage != ''">{{errormessage}}</center>
        </div>
        <div class="thankyou3">
            <center ng-if="errormessage == ''">You should get it soon.</center>
        </div>

        <div class="searchcircles">
            <button class="button  gobutton2" ng-click="verifyotp()">
                Go
            </button>
        </div>
        
        <div style="text-align:center; padding-left:3%;">
            <button class="button  button-outline button-light" style="top:9vh;" ng-click="sendotp()">
                Resend
            </button>
            <p style="margin-top:10vh;">{{resendtext}}</p>
        </div>

    </ion-content>
</ion-view>