<ion-view view-title="Sign up">
 
  <ion-header-bar>
    <h1 class="title ">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <!--<ion-nav-bar class="bar-energized">
             
        <ion-nav-buttons side="left">
          <button class="button icon ion-navicon" ></button>
          </ion-nav-buttons>
          
          <ion-nav-buttons side="right">          
         <button class="button button-clear" ng-click="closeLogin()">Close</button>
          </ion-nav-buttons>
    
 </ion-nav-bar>
    -->
 
  <ion-content class="otpbg " ><!--class="loginbg"-->
  <div class="thankyou" >THANK YOU </div>
 <div class="thankyou2" >We have sent you a confirmation code. </div>
 <div class="thankyou3" >You should get it soon. </div>
 
 <div style="padding-left: 43%;"> 
<button class="button  gobutton2" >
 Go
</button>

</div>
<div  style="text-align:center; padding-left:3%;">
    <button class="button  resendbutton" style="top:9vh;">
 Resend
</button>
</div>
 
  </ion-content>
</ion-view>
