<ion-view view-title="Search">
    <ion-nav-bar class="bar-energized ">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

        <div style="text-align:center;">
            <img src="{{showimage}}" width="55%">
        </div>
        <div class="line" style="text-align:center;"></div>
        <div class="row">
            <div class="col" ng-repeat="vehicle in vehicletypes" style="text-align:center;">
                <div class="taxi  {{vehicle.icon}}" ng-class="{selected:vehicle.selected, deselected:!vehicle.selected}" ng-click="selectvehicle(vehicle.id)"></div>
            </div>
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Current location" style="text-align: -webkit-center;">
            </label>
        </div>
        <div style="padding-left: 43%;">

            <button ng-click="getvehicles()" class="button gobutton gobutton3">
                Go
            </button>
        </div>

        <!--<button ng-click="getvehicles('tourist')">Tourist</button>
        <button ng-click="getvehicles('transporter')">Transporter</button>-->
    </ion-content>
</ion-view>