<ion-view view-title="Sign Up">
 
  <ion-header-bar>
    <h1 class="title ">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <!--<ion-nav-bar class="bar-energized">
             
        <ion-nav-buttons side="left">
          <button class="button icon ion-navicon" ></button>
          </ion-nav-buttons>
          
          <ion-nav-buttons side="right">          
         <button class="button button-clear" ng-click="closeLogin()">Close</button>
          </ion-nav-buttons>
    
 </ion-nav-bar>
    -->
 
  <ion-content class="signupbg " ><!--class="loginbg"-->
  
 <div class="list signupbox">
  <label class="item1 item-input border" >
    <input type="text" placeholder="Whats your Name?" class="signup">
  </label>
   <label class="item1 item-input border">
    <input type="text" placeholder="Mobile number" class="signup">
  </label>
   <label class="item1 item-input border" >
    <input type="password" placeholder="Password" class="signup">
  </label>
   <label class="item1 item-input border2">
    <input type="text" placeholder="City" class="signup">
  </label>
  
</div>
 <div style="padding-left: 43%;"> 

 <button  ng-click="signup()" class="button  gobutton" >
 Go
</button>
      </div>
 
  </ion-content>
</ion-view>
