<ion-view view-title="Vehicles">


    <ion-content data-tap-disabled="true">

        <ui-gmap-google-map ng-if="tab" center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        <div ng-if="!tab">
            <ul class="list">
                <li class="item" ng-repeat="vehicle in vehicledata">
                    <div class="row">
                        <div class="col col-25">
                            <img src="{{vehicle.vehiclephoto}}" width="100%" />
                        </div>
                        <div class="col col-50">
                            <div style="font-size: 21px;font-variant: small-caps;font-weight: 600;">{{vehicle.vendorname}}</div>
                            <div style="">{{vehicle.vehiclemake +" "+ vehicle.vehiclemodel}}</div>
                            <div style="color: #0079c0;">{{vehicle.preferedroute}}</div>
                        </div>
                        <div class="col col-25" style="text-align:center">
                            <div>{{vehicle.vendorid}}</div>
                            <div>{{vehicle.ton}} Ton</div>
                            <div>Trolley Length</div>
                            <div>{{vehicle.trollylength}}</div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        <div class="tabbuttons">
            <button ng-click="tab=false" class="button newtab tabdist2  gobutton2 ion-ios-list-outline" style="font-size:40px;" ng-class="{tabselected:tab, tabdeselected:!tab}">
                
            </button>
            <button ng-click="tab=true" class="button newtab tabdist  gobutton2 ion-map " style="font-size:40px;" ng-class="{tabselected:!tab, tabdeselected:tab}">
                
            </button>

        </div>
    </ion-content>
</ion-view>