/* Empty. Add your own CSS if you like */

.headcolor {
    color: #FF6F11 !important;
}

.loginbg {
    background: url(../img/bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.signupbg {
    background-color: white;
}


/*signup page*/

.item1 {
    border-color: #ddd;
    /* background-color: #fff;*/
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    font-size: 16px;
}

.border {
    border-bottom: #0079c1 3px solid;
}

.signup {
    text-align: center;
    font-size: larger !important;
}

.signupbox {
    padding: 5%;
}

.gobutton {
    width: 75px;
    top: 4vh;
    height: 75px;
    border-radius: 100%;
    padding: 11px;
    border: #EAEAF1 6px double !important;
    /* font-weight: 900; */
    border-color: #F58220;
    background-color: #F9790B;
    color: black;
}

.gobutton3 {
    box-shadow: black 2px 2px 3px;
    font-size: x-large;
    padding: 6px;
}


/*otp page*/

.otpinput {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 800 !important;
    color: white !important;
    border-bottom-width: 3px !important;
    border-bottom-style: solid !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    width: 100% !important;
}

.otpbg {
    background-color: #F58220;
}

.gobutton2 {
    width: 75px;
    height: 75px;
    top: 5vh;
    font-size: large;
    border-radius: 71px;
    padding: 11px;
    border: #F58220 6px double !important;
    font-weight: 400;
    color: black;
}

.gobutton2:hover {
    color: transparent;
}

.resendbutton {
    border-color: white;
    background: transparent;
    color: white;
}

.thankyou {
    margin-top: 4vh;
    font-weight: 200;
    color: white;
    font-size: large;
}

.thankyou2 {
    font-weight: 100;
    color: #060606;
}

.thankyou3 {
    font-weight: 100;
    color: #060606;
}

.entercode {
    border-color: red !important;
    color: red !important;
    position: relative;
    z-index: 2;
    display: block;
}


/*search page*/

.selected {
    background-size: 1522%;
}

.deselected {
    background-size: 70%;
}

.taxi {
    background-position-x: 50%;
    background-position-y: 50%;
    background-image: url("../img/btnbg.png");
    border: white 6px double !important;
    -webkit-transition: background-position-y 0.7s, background-position-z 0.7s, background-size 0.7s;
    -moz-transition: background-position-y 0.7s, background-position-z 0.7s, background-size 0.7s;
    -o-transition: background-position-y 0.7s, background-position-z 0.7s, background-size 0.7s;
    transition: background-position-y 0.7s, background-position-z 0.7s, background-size 0.7s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: black;
    text-align: center;
}

.searchcircles {
    text-align: center;
}

.selecticon {
    width: 80%;
    margin-top: 5px;
}

.line {
    width: 90%;
    /* border-radius: 100%; */
    height: 4px;
    position: absolute;
    margin-top: 39px;
    background-color: rgb(215, 210, 206);
    margin-left: 5%;
    border: rgba(128, 128, 128, 0.34) 1px double;
    z-index: -1;
}

.tabselected {
    border: #FFFFFF 4px double !important;
    background-color: rgba(7, 7, 7, 0.37);
    box-shadow: black 0px 0px 0px;
    width: 75px !important;
    height: 75px !important;
}

.tabdeselected {
    border: #FFFFFF 5px double !important;
    background-color: rgba(7, 7, 7, 0.58);
    box-shadow: black 2px 2px 9px;
    width: 80px !important;
    height: 80px !important;
}

.newtab {
    border-radius: 100%;
    padding: 11px;
    color: black;
    -webkit-transition: box-shadow 0.5s, background-color 0.5s, width 0.6s, height 0.6s, border 0.5s;
    transition: box-shadow 0.5s, background-color 0.5s, width 0.6s, height 0.6s, border 0.5s;
    transition-timing-function: ease-out;
}

.tabdist {
    font-size: 40px;
    position: fixed;
}

.tabdiv {
    z-index: 5;
    position: absolute;
    margin-top: 75vh;
}

.bg {
    background-color: rgba(128, 128, 128, 0.33);
}


/*ACCORDIAN*/

.list .item.item-accordion {
    position: inherit;
    margin-top: -123%;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.5s all ease-out;
    text-align: justify;
    z-index: 0;
    margin-top: 0%;
}

.list .item.item-accordion.ng-hide {
    /*position: absolute;*/
    margin-top: -160%;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.list .accor .active {
    border-color: #556398 !important;
    background-color: rgba(249, 121, 11, 0.72) !important;
}


/*CUSTOMER CARE*/

.cctext {
    padding: 10%;
    font-size: medium;
    line-height: initial;
    color: #787272;
}

.callico {
    font-size: -webkit-xxx-large;
    color: white;
}


/*LIST*/

.calltrue {
    background-color: rgb(141, 255, 141);
}

.callfalse {
    background-color: white;
}

.cardy {
    width: 100%;
    box-shadow: 5px 5px 5px rgba(175, 172, 172, 0.38);
}

.cardyin {
    width: 50%;
    display: inline;
}

.cardyin2 {
    width: 50%;
    //margin-left: 50%;
}

.listy .item-content {
    background-color: #F2EEEE !important;
    padding: 0px !important;
}

.prefroute {
    font-size: 0.7em;
    background-color: beige;
    margin-top: 5px;
    padding: 6%;
    text-align: center;
}

.vehicleimage {
    margin-top: 8vh;
    transform: translateY(-50%);
}

.tononimage {
    position: absolute;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1%;
    color: white;
    z-index: 5;
}

.trolleyonimage {
    margin-top: 12vh;
}

.vehicleimagediv {
    border-right: 1px solid #D5C8BD;
    height: 16vh;
    width: 100%;
    overflow: hidden;
}

.vehiclecodediv {
    background-color: #F9790B;
    color: white;
    text-align: center;
}


/*MAP*/

.scroll {
    height: 100vh;
}

.angular-google-map {
    height: 100%;
}

.angular-google-map-container {
    height: 100%;
}

.tabbuttons {
    position: fixed;
    top: 70vh;
    z-index: 2;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.nodatamessage {
    color: rgba(1, 1, 1, 0.41);
    padding: 25%;
    text-align: center;
}


/*menu*/

.menu a {
    background-color: #0274b9 !important;
    color: white !important;
}

.noscroll .scroll {
    height: auto !important;
}

.bluebg {
    background-color: #0274b9 !important;
    color: white !important;
}

.bluecolor {
    color: #0274b9 !important;
}

.filterfield {
    width: 90%;
    margin-top: 1vh;
    height: 5vh;
}

.filterdiv {
    text-align: -webkit-center;
    height: 9.5vh;
    background-color: #F9790B;
}