/* Empty. Add your own CSS if you like */
.headcolor{
color: #FF6F11 !important;
}

.loginbg
{
    
     background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}